.create-event-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.height-100 {
  min-height: 100vh;
}
.create-event {
  max-width: max-content;

  min-height: max-content;
  background-color: var(--BACKGROUND-BODY-COLOR);
  box-shadow: 3px 5px 10px var(--BOX-SHADOW-LIGHTER);
  border-radius: 0;
}
.login-bottom-margin {
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}
.input-box {
  margin: 1rem 1rem 1rem 0;
  height: 3.5rem;
  border: 1px solid var(--BOX-SHADOW);
  padding-left: 5px;
}
.login-button {
  height: 3.5rem;
  width: 29rem;
  margin: 2rem auto;
  background-color: var(--btn-color-1);
}
.login-button:hover {
  background-color: var(--btn-color-2);
}
