/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  --color-white: white;
  --background-color: #f6f2ff;
}
body {
  /* font-size: 1.6rem; */
  font-family: Helvetica;
  background-color: var(--background-color);
}
